div.content
    div.row
        div.span12
            h2 A List of all reports
            ul.unstyled.indent
                each report in reports
                    li
                      p= report.title